<header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="/">Eiteck</a>
        <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarsExample02" 
        aria-controls="navbarsExample02" 
        aria-expanded="false" 
        aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
            <li class="nav-item active">
            <a class="nav-link" routerLink="/">Inicio</a>
            </li>
        </ul>
        <app-search></app-search>
        </div>
       
    </nav>
</header>